body,
html{width:100%;height:100%;}
body{font-family:'Proxima Nova', 'Helvetica Neue', Arial, sans-serif;}
hr{border-width:1px;border-color:#030000;}
hr.light{border-color:#fff;}
a{color:#F05F40;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;transition:all 0.2s;}
a:hover{color:#f05f40;}
h1,
h2,
h3,
h4,
h5,
h6{font-family:'Proxima Nova', 'Helvetica Neue', Arial, sans-serif;}
.iframe{height:80%;min-height:300px;}
.bg-primary{background-color:#F05F40 !important;}
.bg-dark{background-color:#212529 !important;}
.text-faded{color:rgba(255, 255, 255, 0.7);}
section{padding:2rem 0;}
.section-heading{margin-top:0;font-weight:600;color:#15100a;}
.inver{color:#f9bd37;}
::-moz-selection{color:#fff;background:#212529;text-shadow:none;}
img::selection{color:#fff;background:transparent;}
img::-moz-selection{color:#fff;background:transparent;}
span.price-number{color:#000;}
h5.price{font-weight:600;color:#f9bd37 !important;}
#delivery input.form-control{text-align:center;border-radius:1rem !important;}
#delivery input.form-control::-webkit-input-placeholder{font-weight:600;}
#delivery input.form-control::-moz-placeholder{font-weight:600;}
#delivery input.form-control::-moz-placeholder{font-weight:600;}
.space-slider{padding-bottom:30px!important;}
.form-contact{margin-top:50px;margin-bottom:50px;}
.btn-square{border-radius:0!important;color:#f9bd37;background-color:#0b0b0b;min-width:300px;}
.unsee{visibility:hidden!important;}
.intro-text{list-style-type:none;padding-left:0;}
.intro-text li{font-weight:600;font-size:16px;}
.intro-text li::before{display:inline-block;vertical-align:middle;border-radius:2rem;width:10px;height:10px;background-color:#000000;margin-right:8px;content:''}
.intro-detail{line-height:17px;margin-left:18px;margin-bottom:0.5rem;}
#mainNav{
    background-color: #ffffff;
}
#mainNav{border-bottom:1px solid rgba(33, 37, 41, 0.1);background-color:#fff;font-family:'Open Sans', 'Helvetica Neue', Arial, sans-serif;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;transition:all 0.2s;}
#mainNav .navbar-brand{font-weight:700;text-transform:uppercase;color:#F05F40;font-family:'Open Sans', 'Helvetica Neue', Arial, sans-serif;}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover{color:#f9bd37;}
#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus{text-align: center;font-size:1rem;color: #000000;}
.f-next{background-image:url(../img/next-ico.png) !important;}
.fake{background-size:50px 50px !important;width:50px !important;height:50px !important;}
.f-prev{background-image:url(../img/prev-icon.png) !important;}
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover{color:#f9bd37;}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active{color:#f9bd37 !important;background-color:transparent;}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover{background-color:transparent;}
.service-box>p{min-height:150px;}
@media (min-width:992px){#mainNav{border-color:transparent;background-color:transparent;}
    #mainNav .navbar-brand{color:rgba(255, 255, 255, 0.7);}
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover{color:#fff;}
    #mainNav .navbar-nav > li.nav-item > a.nav-link{padding:0.5rem 1rem;}
    /*#mainNav .navbar-nav > li.nav-item > a.nav-link,*/
    /*#mainNav .navbar-nav > li.nav-item > a.nav-link:focus{color:rgba(255, 255, 255, 0.7);}*/
    /*#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,*/
    /*#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover{color:#fff;}*/
    #mainNav.navbar-shrink{border-bottom:1px solid rgba(33, 37, 41, 0.1);background-color:#fff;}
    #mainNav.navbar-shrink .navbar-brand{color:#f9bd37;}
    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover{color:#f9bd37;}
    /*#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,*/
    /*#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus{color:#212529;}*/
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover{color:#f9bd37;}
}
.client-pic-holder{
    min-height: 240px;
}
#chat-btn{
    font-weight: 700;
    padding: 10px 80px;
}
#chat{
    display: none;
}

#fb-message{
    bottom:80px;
    z-index: 10001;
    position: fixed;
    right: 10px;
}
textarea.form-control{border-radius: 1em}
.bg-img{width:100%;}
.navbar-toggler{background-color:#fff;}
header.masthead{padding-top:10rem;}
.banner-head{margin-top:80px;}
header.masthead hr{margin-top:30px;margin-bottom:30px;}
header.masthead h1{font-size:2rem;}
header.masthead p{font-weight:300;}
@media (min-width:992px){.col-lg-2-5item{flex:0 0 20%;max-width:20%;}
    .modal-lg{max-width:900px !important;}

}
@media (min-width:768px){header.masthead p{font-size:1.15rem;}
    .service-box>p{min-height:30px;}

    #list-btn{
        width: 450px;
        position: absolute;
        bottom: 15%;
        right: calc(50% - 225px);
    }
    #list-btn-mobile{display: none}
}
@media (min-width:992px){header.masthead{height:100vh;min-height:650px;padding-top:0;padding-bottom:0;}
    header.masthead h1{font-size:3rem;}
}
@media (max-width:768px){
    #list-btn-mobile{
        white-space: normal;
        width: 230px;
        position: absolute;
        bottom: 15%;
        right: calc(50% - 115px);
    }
    #list-btn{display: none}

}
#phone-contact img{
    max-width: 200px;
}
#phone-contact{
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
}
@media (min-width:1200px){
    header.masthead h1{font-size:4rem;}
    .spc-head{margin-top:0px!important;}
    .service-box>p{min-height:150px;}

}
.spc-head{margin-top:30px;}
.service-box{max-width:400px;}
.portfolio-box{position:relative;display:block;max-width:650px;margin:0 auto;}
#deal_btn{position: absolute; bottom: 30px; width: 100% }
#signup_form{min-height: 500px ;background-image:url('../img/signup.png');background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
#deal_pick{min-height: 500px ;background-image:url('../img/family_popup.png');background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
#feature{background-image:url('../img/background.png');background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
#products{background-image:url('../img/background.png');background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
#about{background-color: #eaeaea}
.portfolio-box .portfolio-box-caption{position:absolute;bottom:0;display:block;width:100%;height:100%;text-align:center;opacity:0;color:#fff;background:rgba(240, 95, 64, 0.9);-webkit-transition:all 0.2s;-moz-transition:all 0.2s;transition:all 0.2s;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content{position:absolute;top:50%;width:100%;transform:translateY(-50%);text-align:center;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{padding:0 15px;font-family:'Open Sans', 'Helvetica Neue', Arial, sans-serif;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{font-size:14px;font-weight:600;text-transform:uppercase;}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{font-size:18px;}
.portfolio-box:hover .portfolio-box-caption{opacity:1;}
.portfolio-box:focus{outline:none;}
@media (min-width:768px){.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{font-size:16px;}
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{font-size:22px;}
}
.text-primary{color:#F05F40 !important;}
.btn{font-weight:700;text-transform:uppercase;border:none; color: #FFFFFF}
.btn-purple{white-space:normal;background-color:var(--purple);color: #fff;border-radius:0}
.btn-xl{padding:1rem 2rem;}
.btn-primary{background-color:#F05F40;border-color:#F05F40;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{color:#fff;background-color:#ee4b28 !important;}
.btn-primary:active, .btn-primary:focus{box-shadow:0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;}
.swiper-container{width:100%;margin-left:auto;margin-right:auto;}
.swiper-slide{text-align:center;font-size:18px;background:#fff;}
.swiper-slide img{width:100%;max-height:500px;}
.textcontact{color:#fff;}
.f-next{right:-50px!important;}
.f-prev{left:-50px!important;}
.heading-img{margin: auto;max-width: 100%}
.heading-img img{padding: 0 2em;max-width: 100%}
.green-bg {
    background-color: #4c9d2a;
}
#btn-signup {
    background-color: #4c9d2a;
}
#contact {
    background-color: #464646;
    color: #FFFFFF;
}
.order{
    border-bottom: 1px solid #4c9d2a;
}
.text-price{
    color: #ff0911;
}
.vendor-logo{
    display: block;
    margin: auto;
}
.product{
    text-align: center;
    text-transform: uppercase;
}
.product .sub-price{
    text-decoration: line-through;
}
.product .price{
    font-weight: 600;
    color: #ff0911;

}
.product-line{
    margin: 0 30px;
}
.green{
    color: #4c9d2a;
}
.product-img{
    display: flex;
    /*height: 100%;*/
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 270px;
}
.product-img img {
    max-height: 100%;
    max-width: 100%;
}
#image-place,#image-place img{
    width: 100%;
    position: relative;
}
.image img {
    width: 100%;
}
.swiper-button-prev{
    left:50px !important;
}
.swiper-button-next{
    right:50px !important;
}